---
import "@fontsource/jura"

import * as social from "@/data/social"

import NavBar from "@/components/NavBar.astro"

import HomeSection from "@/sections/Home.astro"
import AboutSection from "@/sections/About.astro"
import ProjectsSection from "@/sections/Projects.astro"
import Footer from "@/sections/Footer.astro"

import type { Person, WithContext } from "schema-dts"


const metaData = {
  title: "Stefan Samson (SSbit01)",
  summary: "A young self-taught enthusiast who tries to code the cosmos and explore absolutely everything.",
  get description() {
    return `Welcome to Stefan Samson's personal website, ${this.summary.toLowerCase()}`
  }
}

const { email: { title: email }, ...profiles } = social


const jsonLd: WithContext<Person> = { 
  "@context": "https://schema.org",
  "@type": "Person",
  name: "Stefan Samson",
  alternateName: "SSbit01",
  description: metaData.summary,
  email,
  image: "https://avatars.githubusercontent.com/u/59541034",
  sameAs: Object.values(profiles).map(({ href }) => href)
}

if (Astro.site) {
  jsonLd["@id"] = `${Astro.site}#identity`
  jsonLd.url = Astro.site.toString()
}
---



<html lang="en">

  <head prefix="og: https://ogp.me/ns# profile: https://ogp.me/ns/profile#">

    <!-- Common head tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="dark light" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <title>{metaData.title}</title>
    <meta name="description" content={metaData.description} />
    {Astro.site && <link rel="canonical" href={Astro.site} />}

    <!-- Open Graph -->
    <meta property="og:title" content={metaData.title} />
    <meta property="og:description" content={metaData.summary} />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Stefan" />
    <meta property="profile:last_name" content="Samson" />
    <meta property="profile:username" content="SSbit01" />
    <meta property="profile:gender" content="male" />
    {Astro.site && (
      <meta property="og:url" content={Astro.site} />
      <meta property="og:image" content={`${Astro.site}images/og.png`} />
    )}

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metaData.title} />
    <meta name="twitter:description" content={metaData.description} />
    {Astro.site && <meta name="twitter:image" content={`${Astro.site}images/2-1.png`} />}
    
    <!-- Other meta tags -->
    <meta name="generator" content={Astro.generator} />

  </head>


  <body>

    <main>
      <HomeSection />
      <AboutSection />
      <ProjectsSection />
    </main>

    <NavBar />
    <Footer />

  </body>

</html>



<script is:inline type="application/ld+json" set:html={JSON.stringify(jsonLd)} />



<style lang="stylus" is:global>
html
  scrollbar-width thin
  scroll-behavior smooth

body
  color white
  background black
  font-family Jura, Calibri, Avenir, Helvetica, Arial, sans-serif
  margin 0
</style>