---
import { Icon } from "astro-icon"


interface Props {
  name: string
  tags?: string[]
  source: string
  website?: string
  featured?: boolean
}


function toTag(str: string) {
  return str.toLowerCase().replaceAll(/\W/g, "-")
}


const { name, tags, source, website } = Astro.props,
      id = toTag(name)
---



<figure tabindex="1">
  <img src={`/images/${id}.webp`} alt="" loading="lazy" />
  
  <figcaption>
    <h2>{name}</h2>

    {tags?.length && (
      <ul>
        {tags.map(tag => (
          <li>{toTag(tag)}</li>
        ))}
      </ul>
    )}

    {Astro.slots.has("default") && <p class="description"><slot /></p>}
    
    <div class="links">
      <a href={source} target="_blank" rel="noreferrer noopener" title="Source Code"><Icon name="fluent:code-24-filled" /></a>
      <a href={website} target="_blank" rel="noreferrer noopener" title="Website"><Icon name="lucide:external-link" /></a>
    </div>
  </figcaption>
</figure>



<style lang="styl">
figure
  position relative
  text-align center
  margin 0
  box-shadow inset 0 0 4px darkslategray
  overflow hidden
  transition opacity 1s, box-shadow .2s
  &:hover, &:focus
    > img
      filter blur(8px) opacity(.5) brightness(.75)
  &:not(:hover):not(:focus)
    > figcaption
      visibility hidden
      opacity 0
      scale .9
  &:focus
    box-shadow inset 0 0 2px 2px darkslategray
  > img
    vertical-align top  // PREVENTS EXTRA WHITE SPACE
    aspect-ratio 16 / 9
    width 48em
    max-width 100%
    transition .2s
  > figcaption
    display flex
    flex-direction column
    gap 1em
    position absolute
    inset 0
    transform-origin bottom
    padding 1em
    overflow auto
    transition .4s
    > h2:first-child
      font-size clamp(1.5em, 5.75vw, 3em)
      line-height 1.1em
      margin-top auto
      margin-bottom 0
    > ul
      list-style none
      display flex
      flex-wrap wrap
      align-items center
      justify-content center
      gap .6em
      padding-left 0
      margin 0
      > li
        background rgba(0, 5, 10, .75)
        padding .2em .4em
        border-radius 16px
        box-shadow 0 0 3px 2px crimson
    > .description
      margin 0
      :global(a)
        color deepskyblue
        text-decoration none
        transition color .15s, text-shadow .15s
        &:hover
          text-decoration underline
        &:active
          text-shadow 0 0 4px
    .links
      display flex
      align-items center
      justify-content space-evenly
      margin auto 0
      > a
        font-size clamp(2em, 7vw, 3em)
        $side = 1em
        width $side
        height $side
        color gold
        padding .2em
        border-radius 50%
        transition .2s
        &:hover
          background rgba(0, 5, 10, .25)
          box-shadow 0 0 3px
        &:active
          background rgba(10, 15, 20, .5)
          box-shadow 0 0 8px

@media(max-width 430px)
  figure > figcaption
    font-size .9em
    gap .6em
    > ul
      font-size .85em
</style>